.outer-feeds-container {
  display: inline-flex;
  min-width: 800px;
  width: 800px;
  max-width: auto;
  flex: 1;
  position: relative;
  margin-inline-start: 3rem;
  justify-content: right;
}
.feed-title {
  color: rgb(215, 117, 68);
  text-align: center;
}

.search-page {
  
  width: 300px;
  
}
.search-page input#month {
  width: 3rem;
  padding: 1px;
  text-align: center;
}
.search-page input#year {
  width: 4rem;
  padding: 1px;
  text-align: center;
}
.search-page input#username { 
  width: 9rem;
  padding: 1px;
  text-align: center;

}

#game-feed-container {
  width: 300px;
  margin: 0 1rem; /* adjust this value as needed */
  padding: 1rem;
  border: 1px solid rgb(215, 215, 215, 0.25);
}

#game-feed {
  color: orange;
  list-style: none;
}

.game-card-container {
  
  background: rgb(45, 45, 45, 0.1);
  padding: 1rem;
  box-sizing: border-box;
}

.game-card {
  margin: auto;
  text-align: justify;
  list-style: none;
  text-decoration: none;
  width: 100%;
}

#gheader {
  padding: auto;
  text-align: justify;
  font-size: medium;
  text-decoration: none;
  list-style: none;
}

#gmoves {
  text-decoration: none;
  color: lightsalmon;
  list-style: none;
}
