.outer-feeds-container {
  display: inline-flex;
  min-width: 800px;
  width: 800px;
  max-width: auto;
  
  position: relative;
  margin-inline-start: 3rem;
  justify-content: right;
}
.feed-title {
  color: rgb(215, 117, 68);
  text-align: center;
}
.left-outer-feeds-container {
  display: inline-flex;
  min-width: 700px;
  width: 700px;
  max-width: auto;
  
  position: relative;
  margin-inline-end: 3rem;
  justify-content: left;
}
.search-page {
  width: 300px;
}
.search-page input#month {
  width: 3rem;
  padding: 1px;
  text-align: center;
}
.search-page input#year {
  width: 4rem;
  padding: 1px;
  text-align: center;
}
.search-page input#username { 
  width: 9rem;
  padding: 1px;
  text-align: center;
}

.link {
  color:rgba(216, 229, 229, 0.95);
  text-decoration: none;
  border: none;
}
.link:hover {
   color: var(--bleu);
  opacity: 100%;
}
#gmoves:hover {
  color:rgb(205, 217, 217, .75);
  
}

#game-feed-container {
  width: 300px;
  margin: .5rem 1rem; /* adjust this value as needed */
  padding: 1rem;
  border: 1px solid rgb(215, 215, 215, 0.25);
}

#game-feed {
  color: orange;
  list-style: none;
}
.s-game-feed {
  text-align: center;
  columns: 1;
  column-gap: 0;
  
  width: fit-content;
  display: block;
}
.game-card-container {
  background: rgb(45, 45, 45, 0.1);
  padding: .5rem;
  box-sizing: content-box;
}
.s-game-card {
  padding: 4px;
  height: fit-content;
  margin-bottom: 1rem;
  text-align: center;
  width: 13rem;
  opacity: 98%;
  background: rgba(25, 28, 36, 0.35);
  border: 1px solid rgb(215, 215, 215, 0.25);
  border-radius: 5px;
}
.s-game-card:hover {
  padding: 5px;
  border-radius: 2px;
  box-shadow: 1px 2px 3px grey;
  background: rgba(25, 28, 36, 0.05);
  cursor: pointer;
}
.game-card {
  display: grid;
  row-gap: 1px;
  padding: 1px;
  margin: auto;
  text-align: justify;
  list-style: none;
  text-decoration: none;
  width: 100%;
  opacity: 98%;
}
.game-card:hover {
  opacity: 100%;
  border: 2px none white;
  border-radius: 2px;
  box-shadow: 1px 2px 3px grey;
  background: rgba(25, 28, 36, 0.05);
  
}
.heart-moves {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.button-container {
  position: absolute;
  width: 5px;
  height: 5px;
}
#heart-icon svg{
  color: rgb(243, 76, 103);
  
}
#heart-icon {
  opacity: .8;
  border-style: none;
  position: absolute;
  top: -230%;
  left: -100%;
}
#heart-icon:hover {
  border-style: none;
  opacity: 1;
  
  background: transparent;
}
#gheader {
  columns: 2;
  padding: 1px;
  text-align: left;
  font-size: smaller;
}

.gmoves-container {
  padding-inline-start: 2rem;
  flex-wrap: wrap;
  
}
#gmoves {
  position: relative;
  text-decoration: none;
  color: var(--bleu);
  list-style: none;
  opacity: 90%;
  
}
