footer {
  height: 60px; /* Set the height of the footer */
  
  margin-top: 1.5rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to bottom right, transparent, steelblue, steelblue, transparent);
  background: linear-gradient(to bottom right, transparent, steelblue, steelblue, black);
  background-blend-mode: multiply;
  opacity: 99%;
  box-shadow: 4px 2px 5px transparent;
}


.footer-container {
  display: flex;
  width: 95%;
  
  padding: 1rem 2rem;
  justify-content: right;
  margin-bottom: 5px;
}
.bottom-brand h2 {
  opacity: 98;
  color: #e9e9e9;
}
.bottom-brand {
  cursor: pointer;
  font-size: 1rem;
  text-align: right;
  opacity: .95;
}
.bottom-brand:hover {
  opacity: .99;
}

.copyright-text {
  font-family: Helvetica, sans-serif;
  font-size: x-large;
  opacity: 75%;
  color: #f7f7f7;
  padding: 3px 8px;
  width:5rem;
  align-self: self-end;
}

.italic {
  font-style: italic;
  margin-left: -2px;
}
.icons {
  margin: -6px 2.5rem;
  height: 1rem;
  
}

.icon-hat{
  opacity: 60%;
  color: aqua;
}
.icon-rook{
  opacity: 65%;
  color: aquamarine;
}