.search-feed-container {
  margin-right: 1rem;
  min-height: 100vh;
  height: max-content;
  max-height: 200vh;
  flex: 0;
  width: 10rem;
}

.board-feed-container {
  display: block;
  width: 100%;
  flex: 1;
  text-align: left;
  margin-inline: 4rem;
}
.outer-board-container {
  
  position: fixed;
  width: fit-content;
  margin:  0 auto;
  justify-content: center;
}
h1.welcome {
  margin-inline: auto;
  width: 600px;
  text-align: center;
}
#board-matte {
  width: fit-content;
  display: block;
  /* width: 624px; */
  height: fit-content;
  background-color: rgb(197, 174, 134, .3);
  margin: auto;
  justify-content: center;
}

.board-container {
  width: 800px;
  border: 2px hidden grey;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  /* width: 1000px; */
  padding: 5px 0 25px;
  min-height: fit-content;
  height: 840px;
  max-height: 1400px;
  margin: auto;
  justify-items: stretch;
}

#fade-out {
  animation: fade-out 5s 1;
  -webkit-animation: fade-out 5s 1;
  -moz-animation: fade-out 5s 1;
  -o-animation: fade-out 5s 1;
  -ms-animation: fade-out 5s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  -webkit-animation-delay: 1s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes fade-out {
    from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
}

@-webkit-keyframes fade-out {
    from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
}

@-o-keyframes fade-out {
    from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
}

@-ms-keyframes fade-out {
    from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
}

