h1.welcome {
  margin-inline: auto;
  width: 600px;
  text-align: center;
}
.search-feed-container {
  margin-right: 1rem;
  min-height: 100vh;
  height: max-content;
  max-height: 200vh;
  flex: 0;
  width: 10rem;
}

.board-feed-container {
  display: block;
  width: 100%;
  flex: 1;
  text-align: left;
  margin-inline: 4rem;
}
.outer-board-container {
  position: fixed;
}
.outerBoard {
  margin: 0 auto;
  align-items: center;
  
}
#board-matte {
  width: 645px;
  display: block;
  /* width: 624px; */
  height: fit-content;
  background-color: rgb(197, 174, 134, .3);
  margin: auto;
  justify-content: center;
}
.layout-top {
  justify-content: center;
}

.whiteHeader {
  margin: 1.2rem;
  text-align: right;
  font-weight: 500;
  font-kerning: none;
  font-family: Helvetica, sans-serif;
  padding-top: 1.5rem;
  color: rgb(255, 255, 255);
  text-shadow: 4px 0px 20px rgb(132, 132, 132);
  text-decoration: underline;
}
.blackHeader {
  text-align: left;
  font-kerning: none;
  font-weight: bold;
  position: relative;
  margin-bottom: .5rem;
  color: rgb(0, 0, 0);
  text-shadow: 2px 0px 10px rgb(116, 116, 116);
  text-decoration: underline;
  
}
.buttons {
  margin-block-start: 1.5rem;
  width: 100%;
  
}
.moves.inline {
  background: rgb(236, 236, 236, .92);
  margin-block-start: 1rem;
  padding: 12px;
  
  text-align: left;
}
.boardAnd {
  font-family: 'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 1px;
}
.board-container {
  
  border: 2px hidden grey;
  border-radius: 5px;
  
  padding-inline-start: 3rem;
  min-height: fit-content;
  height: 840px;
  max-height: 1400px;
  margin: auto;
  justify-items: stretch;
}

.center-section #fade-out {
  animation: fade-out 5s 1;
  -webkit-animation: fade-out 5s 1;
  -moz-animation: fade-out 5s 1;
  -o-animation: fade-out 5s 1;
  -ms-animation: fade-out 5s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  -webkit-animation-delay: 1s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes fade-out {
    from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
}

@-webkit-keyframes fade-out {
    from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
}

@-o-keyframes fade-out {
    from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
}

@-ms-keyframes fade-out {
    from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
}

