.assign-container {
  display: flex;
  height: 3rem;
  justify-content: center;
  padding-inline-start: 2rem;
}

.assign-submit-container {
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  height: inherit;
}
form.assign-form {
  display: inline-flex;
  height: auto;
}
.assign-dropdown-container {
  margin: 0 auto;
  height: inherit;
  margin: 0 2.25rem;
}

.button-text {
  align-items: baseline;
  display: flex;
  text-align: justify;
}
.student-selected {
  color: yellow;
  margin-inline: 0.5em;
  padding: auto;
}
.line {
  margin-inline: .75rem;
}

.assign-button {
  flex-basis: auto;
}
button.assign-button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1px;
  border-radius: 4px;
  background: linear-gradient(black, transparent);
  border-color: #327ceb;
  
  border-width: 2px;
  width: 2.4rem;
  color: #327ceb;
  padding: 1px;
  height: 26px;
  margin-top: 0;
  box-shadow: 1px 2px 5px black;
  padding-bottom: 4px;
}
button.assign-button:hover {
  padding: 2px;
  
  border: 2px inset var(--bleu);
  cursor: pointer;
  color: white;
  background-color: var(--bleu);
  opacity: .8;
  border-radius: 6px;
  border-style: solid;
  opacity: 98%;
  box-shadow: 0px 1px 1px #645050;
}
.assign-button:active {
  background: white;
  padding: 4px;
  background-color: #327ceb;
  border: 0px groove rgb(230, 226, 226);
  border-radius: inherit;
  opacity: 1;
}
.assign-title {
  text-align: right;
  opacity: .9;
}
.assign-dropdown:hover {
  opacity: 92%;
}
.assign-dropdown {
  max-width: 217px;
  height: auto;
  text-align: left;
  text-indent: 4px;
  padding-bottom: 2px;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
  width: 100%;
  margin-block-start: 1px;
  margin-block-end: 3.1rem;
  margin-left: auto;
  
}

