@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --gradient:
  linear-gradient(to bottom, black, transparent, transparent, black),
  linear-gradient(to bottom, transparent, transparent, black, transparent, transparent, rgb(39, 38, 38)),
  linear-gradient(to right, black, transparent, transparent, rgb(68, 198, 81), transparent, rgb(9, 0, 0)),
  linear-gradient(to bottom left, black, transparent, transparent, rgb(127, 28, 101)),
  linear-gradient(to bottom right, white, rgb(0, 41, 75), white, transparent, white, rgb(30, 6, 167), white),
  linear-gradient(to top left, rgb(0, 128, 4), rgb(48, 105, 77), transparent),
  linear-gradient(to top right, rgb(11, 9, 46), transparent, rgb(98, 4, 117), black),
  linear-gradient(to left, rgb(34, 39, 139), transparent, rgb(6, 53, 63), black),
  linear-gradient(to bottom right, black, rgb(130, 130, 238), transparent, black),
  linear-gradient(to bottom left, black, transparent, transparent, black),
  linear-gradient(to bottom right, black, pink, red),
  radial-gradient(rgb(20, 20, 66), rgb(15, 15, 117), black),
  radial-gradient(rgb(45, 45, 157), rgb(3, 3, 47), black),
  radial-gradient(black, black, transparent, black, transparent, rgb(3, 3, 47), black),
  linear-gradient(to bottom, #f9f9f9, #e6e6e6) top left,
  radial-gradient(circle at 30% 107%, #f7f7f7, transparent) top right,
  linear-gradient(to bottom, #333333, #2b2b2b) bottom left,
  radial-gradient(circle at 70% 107%, #000000, transparent) bottom right,
  linear-gradient(to top, #f8f8f8, #f2f2f2),
  radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.5), transparent),
  linear-gradient(to bottom, #333333, #292929);

  --blend:
  luminosity, lighten, soft-light, lighten, darken, multiply, difference, overlay, multiply, lighten, color-dodge, screen, normal, multiply,
  overlay, multiply, overlay, multiply, screen, lighten, screen;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  @supports (-webkit-font-smoothing: antialiased) {
  };
  @supports (-moz-osx-font-smoothing: grayscale) {
  };
}

html, body {
  box-sizing: border-box;
  min-height: 100%;
  font-family: "Helvetica", "Segoe UI", "Tahoma", sans-serif;
  /* background: var(--gradient);
  background-blend-mode: var(--blend); */
  background-repeat:repeat;
  color: white;
  background: var(--gradient);
  background-blend-mode: var(--blend);
}

#app {
  position: relative;
  min-height: 100vh;
  height: 2800px;
  max-height: 3800;
}
main {
  min-height: 100vh;
  margin: 0 auto;
  margin-top: -16px; /* adjust this value according to the height of your footer */
}

body {
  margin: 0 auto;
  padding-bottom: 3rem;
  position:relative;
  height: 100%;
}

h1 {
  color: white;
  opacity: 94%;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  color: #327ceb;
  border: 2px solid #327ceb;
  border-radius: 2px;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
  
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: #327ceb;
  opacity: 95%;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: hidden;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
